<div class="container">
            <h2>Event Description</h2>
            <p><strong>Event:</strong> <%= @event.title %></p>
            <p><strong>About:</strong> <%= @event.description %></p></p>
            <p><strong>Ticket Price:</strong> <%= @event.ticket_price %>pp</p>
          </div>
